[submodule "matlab_tools"]
	path = matlab_tools
	url = https://github.com/jgrizou/matlab_tools
[submodule "lfui"]
	path = lfui
	url = https://github.com/jgrizou/lfui
[submodule "bci_thesis"]
	path = bci_thesis
	url = https://github.com/jgrizou/bci_thesis
